.DS_Store
.cask
.mc-lists.el
projectile-bookmarks.eld
projectile.cache
recentf
projects
transient
.session
eshell
elpa
network-security.data
auto-save-list/
init.elc
bookmarks
tramp
tree-sitter/
eln-cache/